# Database Configuration
DB_USER=postgres
DB_PASSWORD=123
DB_HOST=postgres
DB_PORT=5432
DB_NAME=xelle_db

# Backend Configuration
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000

# Frontend Configuration
FRONTEND_PORT=3000
